input[type=range] {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #1abc9c;
}

input[type=range]:active::-webkit-slider-thumb {
  background: #1abc9c;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

input[type=range]::-moz-range-thumb:hover {
  background: #1abc9c;
}

input[type=range]:active::-moz-range-thumb {
  background: #1abc9c;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

input[type=submit], input[type=button], input[type=text], input[type=number], select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #d7dcdf;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=submit]:hover,
input[type=number]:focus,
button:hover,
input[type=button]:hover,
select:focus {
  border: 3px solid #2c3e50;
}

option {
  background-color: #d7dcdf;
}

option:hover {
  background-color: #2c3e50;
}

input[type=checkbox] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: #2c3e50;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #1abc9c;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:checked {
  color: #1abc9c;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7dcdf;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #1abc9c;
}

input:focus+.slider {
  box-shadow: 0 0 1px #1abc9c;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


* {
  font-family: 'Roboto', sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 3s;
}


#exitdev {
  display: none;
}

webview {
  width: 100vw;
  height: 100vh;
  border: none;
}

#back {
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  position: absolute;
  border: none
}

#front {
  z-index: 1;
  width: 800px;
  height: 480px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: none
}

#grid {
  height: 75%;
}

#editingBar {
  background-color: green;
}

#settingsMenuBar {
  background-color: black;
}

#settingsMenuBar, #editingBar {
  width: calc(100vw - 20px);
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  color: white;
  padding: 10px;
  z-index: 3;
}

#editingBarButton {
  position: absolute;
  right: 30px;
}


.widget {
  background: #d7dcdf;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-bottom: 3.3333%;
}


.widget h3 {
  margin-left: 10%;
  margin-right: 10%;
}

.widget webview {
  width: 100%;
  height: 90%;
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

#name {
  position: absolute;
  width: 324px;
  height: 50px;
  left: 15px;
  top: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #808080;
}

#settings {
  position: absolute;
  width: 119px;
  height: 40px;
  left: 269px;
  top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #808080;
}

#apps {
  position: absolute;
  width: 86px;
  height: 40px;
  left: 15px;
  top: 74px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #808080;
}



#homeassistant {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 17px;
  top: 114px;
  border-radius: 10px;
}

#music {
  position: absolute;
  width: 444px;
  height: 74px;
  left: 339px;
  top: 109px;
  border-radius: 31px;

}

#homebutton {
  position: fixed;
  left: 0.75%;
  bottom: 0.75%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin: 0;
  z-index: 300;
}

#homesquare {
  width: 50%;
  height: 50%;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  margin: 25%;
}

#shortcuts {
  position: fixed;
  width: 100%;
  height: 13%;
  left: 0px;
  bottom: 0;
  padding-top: 0.75%;
  background: #222222;
  white-space: nowrap;
  overflow: auto;
}

#shortcuts a {
  margin-left: 5px;
}

#shortcuts a img {
  max-height: 90%;
  border-radius: 50%;
  margin: 0;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#arrow {
  position: absolute;
  left: 10px;
  top: 390px;
}

#assistant {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  border: none
}

#title {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 33px;
  top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 50px;
  color: #373737;
}

.setting-menu {
  width: 100%;
  height: 110px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.setting-menu img {
  float: left;
  height: 80%;
  border-radius: 10px;
  margin: 10px;
}

.setting-menu h1 {
  margin-top: -5px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

.setting-menu p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#halogoset {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 114px;
  border-radius: 10px;
}

#raspaplogoset {
  position: absolute;
  width: 57px;
  height: 56.5px;
  left: 43px;
  top: 212px;
}

#chromiumlogoset {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 308px;
}

#hatext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 114px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#hadescr {
  position: absolute;
  width: 247px;
  height: 18px;
  left: 109px;
  top: 147px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#raspaptext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 212px;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#raspapdescr {
  position: absolute;
  width: 337px;
  height: 18px;
  left: 109px;
  top: 245px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#chrometext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 308px;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#chromedescr {
  position: absolute;
  width: 213px;
  height: 18px;
  left: 109px;
  top: 341px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#gphotosbg {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 317px;
  top: 114px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border-radius: 10px;
}

#gphotosimg {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 317px;
  top: 114px;
  border-radius: 10px;
}

#bar5 {
  position: absolute;
  width: 734px;
  height: 80px;
  left: 33px;
  top: 394px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

#setupcircle {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 308px;
  border-radius: 100%;
  background: #1EAAF1;
}