::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

* {
  font-family: Roboto;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 3s;
}


#exitdev {
  display: none;
}

webview {
  width: 100vw;
  height: 100vh;
  border: none;
}

#back {
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  position: absolute;
  border: none
}

#front {
  z-index: 1;
  width: 800px;
  height: 480px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: none
}

#grid {
  height: 75%;
}

.widget {
  width: 300px;
  height: 400px;
  background: #EFEFEF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin-right: 3.3333%;
  margin-bottom: 3.3333%;
  margin-top: 2%;
}


.widget h3 {
  margin-top: 10%;
  margin-left: 25%;
}

.widget iframe {
  width: 95%;
  height: 80%;
  overflow: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  border-radius: 25px;
}

.widget iframe::-webkit-scrollbar {
  display: none;
}




#name {
  position: absolute;
  width: 324px;
  height: 50px;
  left: 15px;
  top: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #808080;
}

#settings {
  position: absolute;
  width: 119px;
  height: 40px;
  left: 269px;
  top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #808080;
}

#ambient {
  position: absolute;
  width: 204px;
  height: 40px;
  left: 459px;
  top: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #808080;
}

#apps {
  position: absolute;
  width: 86px;
  height: 40px;
  left: 15px;
  top: 74px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #808080;
}



#homeassistant {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 17px;
  top: 114px;
  border-radius: 10px;
}

#youtube {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 92px;
  top: 114px;
  border-radius: 10px;
}

#clock {
  position: absolute;
  height: 65px;
  left: 167px;
  top: 114px;
  border-radius: 10px;
}

#tasty {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 242px;
  top: 114px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#music {
  position: absolute;
  width: 444px;
  height: 74px;
  left: 339px;
  top: 109px;
  border-radius: 31px;

}

#homebutton {
  position: absolute;
  left: 0.75%;
  bottom: 0.75%;

  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin: 0;
}

#homesquare {
  width: 50%;
  height: 50%;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  margin: 25%;
}

#shortcuts {
  position: fixed;
  width: 100%;
  height: 13%;
  left: 0px;
  bottom: 0;
  padding-top: 0.75%;
  background: #222222;
  align-items: center;
}


#shortcuts a img {
  max-height: 90%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);
  margin: 0;
}


i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#arrow {
  position: absolute;
  left: 10px;
  top: 390px;
}

#assistant {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  border: none
}

#title {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 33px;
  top: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 50px;
  color: #373737;
}

.setting-menu {
  width: 100%;
  height: 110px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.setting-menu img {
  float: left;
  height: 80%;
  border-radius: 10px;
  margin: 10px;
}

.setting-menu h1 {
  margin-top: -5px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

.setting-menu p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#halogoset {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 114px;
  border-radius: 10px;
}

#raspaplogoset {
  position: absolute;
  width: 57px;
  height: 56.5px;
  left: 43px;
  top: 212px;
}

#chromiumlogoset {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 308px;
}

#hatext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 114px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#hadescr {
  position: absolute;
  width: 247px;
  height: 18px;
  left: 109px;
  top: 147px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#raspaptext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 212px;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#raspapdescr {
  position: absolute;
  width: 337px;
  height: 18px;
  left: 109px;
  top: 245px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#chrometext {
  position: absolute;
  width: 205px;
  height: 33px;
  left: 109px;
  top: 308px;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #373737;
}

#chromedescr {
  position: absolute;
  width: 213px;
  height: 18px;
  left: 109px;
  top: 341px;

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #727272;
}

#gphotosbg {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 317px;
  top: 114px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border-radius: 10px;
}

#gphotosimg {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 317px;
  top: 114px;
  border-radius: 10px;
}

#bar5 {
  position: absolute;
  width: 734px;
  height: 80px;
  left: 33px;
  top: 394px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

#setupcircle {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 43px;
  top: 308px;
  border-radius: 100%;
  background: #1EAAF1;
}